<%- include("includes/header"); %>

<div class="container">

    <h3>Adicionar Tarefa</h3>
    <hr>

    <form method="POST" action="/tasks/save">
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input type="text" class="form-control" id="titulo" name="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea class="form-control" id="descricao" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/tasks" class="btn btn-secondary">Cancelar</a>
    </form>
    
</div>

<%- include("includes/footer"); %>