<%- include("includes/header"); %>

<div class="container">

    <h3>Sobre</h3>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe asperiores veniam, ullam dolor ab fuga! Excepturi repellat molestiae consectetur eum magni amet tempora autem. Eos dignissimos explicabo sit at molestiae beatae iste provident est quos blanditiis? Dolorum iste laudantium rem laboriosam illum eius nostrum quidem, facere, repudiandae suscipit eligendi sunt eos. Nihil minima fugit, cupiditate molestiae debitis quisquam repellat corporis ipsa, unde eius natus sunt cumque ab! Quod voluptate minus quidem porro nostrum quis dicta ducimus inventore molestias vel rerum consectetur voluptatem aliquam, non aperiam. Repellat velit cumque rerum laudantium minus doloremque placeat laboriosam itaque? Eligendi, minima provident, molestias mollitia amet fuga dolores aperiam distinctio quidem iusto facilis corporis esse ipsam totam. Expedita fuga tenetur nisi rerum nobis itaque necessitatibus aliquam! Vero eligendi in tenetur odit accusantium eaque, provident ut consequuntur ex ducimus a, doloribus recusandae nesciunt iure aliquam molestiae at natus maxime sapiente. Vel quibusdam minima deserunt asperiores enim! Earum laborum sit, cum distinctio et deserunt dicta accusamus odit. Eum nostrum expedita repellat soluta labore consequuntur sit, ducimus odio similique obcaecati inventore asperiores voluptas nam accusamus quae placeat minus quia praesentium cupiditate optio ratione incidunt laudantium voluptatem dolores. Reiciendis magnam ad in vero ipsam expedita maiores nesciunt doloremque eos.</p>
</div>

<%- include("includes/footer"); %>